<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class=".body">
	<div class="fullscreen">
		<header id="header">
			<div id="nav">
				<div id="nav-top">
					<div class="container">
						<ul class="nav-social">
							<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div id="nav-bottom">
					<div class="container">					
						<ul class="nav-menu">
							<li><a href="#" title="">Home</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Health</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-1 col-md-10 text-center">
							<div class="author">
								<h1 class="text-uppercase">My Blog</h1>
								<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /PAGE HEADER -->
		</header>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-9 mt-3">
						<p class="formcreatepost"></p>
					</div>
					<div class="col-md-3">
						<div class="aside-widget">
							<div class="section-title">
								<h2 class="title mt-3">CATEGORIES:</h2>
							</div>
							<div class="category-widget">
								<ul>
									<li><a href="#">Lifestyle</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Technology</a></li>
									<li><a href="#">Travel</a></li>
									<li><a href="#">Health</a></li>
								</ul>
							</div>
							<div>
								<!-- auto link -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<p class="text-center text-white mt-1 mb-1" style="margin: 0;">Copyright © Your Website 2019</p>		
		</footer>
	</div>
</body>	
</html>